<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Add Client</title>
</head>
<body>
<div layout:fragment="content">
		<div class="container">
			<div class="card  d-flex p-2 mt-3 w-50">
				<div class="border-bottom p-3 bg-black">
					<h5 class="card-title text-success">Save Client</h5>
				</div>
				<form th:action="@{/save/client}" th:object="${client}" method="post">

					<div class="form-group">
						<label class="control-label">Nom : </label> <input
							class="form-control" type="text" name="nom"
							th:value="*{nom}" /> 
							<span class="error" th:error="*{nom}"></span>
					</div>
					<input type="hidden" name="deleted" th:value="false" />
					
						<input class="btn btn-outline-success" type="submit" value="Save" />
					

				</form>
			</div>
		</div>
	</div>
</body>
</html>